<div id='Contact' class="offset">
    <footer>
        <div class="row justify-content-center">
            <div class="col-md-5 text-center">
                <img src="assets/images/techCircle.jpg">
                <p>At our core is quality and a collection of design with eco friendly environments</p>
                <strong>Contact info</strong>
                <p>Entre Mobility Pvt Ltd, <br>No.2, Sathiyamoorthy street, <br> New Perungalathur, <br> CHENNAI, TAMIL NADU 600063 <br>India</p>
                <p>(+91)7373376712<br>sales@entremobility.com</p>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
            </div> 
            <hr class="socket">
            <p>Terms of use</p>
            &copy; entremobility.com
        </div>
    </footer>
</div>