<div id='Contact' class="offset">
    <footer>
        
        <div class="col-md-12">
            <hr class="socket">
            <div id= "logo" class="col-md-6">
                <img src="assets/images/techCircle.jpg">
                <p>At our core is quality and a collection of design with eco-friendly environments</p>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter-square"></i></a>
            </div> 
            <div class="col-md-6 ">
                <p>Contact info</p>
                <p>Entre Mobility Pvt Ltd,<br>No.2, Sathiyamoorthy street, New Perungalathur, CHENNAI, <br>TAMIL NADU, 600063,<br>India,<br>Ph:(+91)7373376712, email:sales@entremobility.com</p>
            </div>
            <div class="col-md-12 text-center">
                <hr class="socket">
                <p>Terms of use</p>
                &copy; entremobility.com
            </div>   
        </div>
    </footer>
</div>