<section>
        <div class="container">
            <div class="padding-twenty-top sm-padding-fifteen-top xs-no-padding">
                <!-- <h5 class="no-margin font-size18 xs-font-size16 text-medium-gray padding-twelve-top sm-padding-five-top xs-no-padding">Hi,</h5> -->
                <h1 class="text-uppercase font-size48 md-font-size42 sm-font-size36 xs-font-size26 font-weight-700 margin-20px-bottom">force</h1>
            </div>
            <div class="col-md-6 col-sm-12 clients" style="text-align: center;">
                <div class="row">
                    <div class="col-md-12">
                        <a>
                            <img src="assets/images/force-front.png" width="100%" class="productImg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section class="services bg-light-gray" data-scroll-index="4">
    <div class="container">
        <div class="row">
            <div class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
                <h3 class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title">Specifications</h3>
            </div>
        </div>
        <div class="row">

            <!-- start services item -->
            <div class="col-lg-6 col-md-6 border-right border-bottom border-color-medium-gray xs-no-border-right">
                <div class="text-center padding-40px-tb xs-padding-20px-bottom padding-20px-lr xs-no-padding-lr xs-no-padding-top">
                    <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom">
                        <i class="fas fa-cogs"></i>
                    </div>
                    
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Motor Type</span>
                        <span class="col-sm-12 spec-details">Permanent Magnet Synchronous Motor</span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Motor Power</span>
                        <span class="col-sm-12 spec-details">72V 3000W </span>
                    </div>
                </div>
            </div>
            <!-- end services item -->

            <!-- start services item -->
            <div class="col-lg-6 col-md-6 border-bottom border-color-medium-gray sm-no-border-right">
                <div class="text-center padding-40px-tb xs-padding-20px-tb padding-20px-lr xs-no-padding-lr">
                    <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <!-- <div class="alt-font text-extra-dark-gray margin-10px-bottom font-size18 xs-font-size16">Speed</div> -->
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Acceleration</span>
                        <span class="col-sm-12 spec-details">0 to 60kmph in 4.8 Seconds</span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key" style="padding-left: 0%; margin-bottom: 2%;">Maximum Speed</span>
                        <span class="col-sm-12 spec-details">110kmph</span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Speedometer</span>
                        <span class="col-sm-12 spec-details">Digital</span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Drive</span>
                        <span class="col-sm-12 spec-details">Belt Drive</span>
                    </div>
                </div>
            </div>
            <!-- end services item -->

            <!-- start services item -->
            <div class="col-lg-6 col-md-6 border-right border-color-medium-gray sm-no-border-right">
                <div class="text-center padding-40px-tb xs-padding-20px-tb padding-20px-lr xs-no-padding-lr">
                    <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom"><i class="fas fa-charging-station"></i></div>
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Mileage / Charge</span>
                        <span class="col-sm-12 spec-details">100km to 130km</span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Charging Time</span>
                        <span class="col-sm-12 spec-details">4 to 5 Hours</span>
                    </div>
                    <div class="row">
                        <span class="col-sm-12 spec-details spec-key">Battery</span>
                        <span class="col-sm-12 spec-details">72V60AH Li-ion Battery (Removable)</span>
                    </div>
                </div>
            </div>
            <!-- end services item -->

            <!-- start services item -->
            <div class="col-lg-6 col-md-6 sm-border-bottom border-color-medium-gray sm-no-border-right">
                <div class="text-center padding-40px-tb xs-padding-20px-tb padding-20px-lr xs-no-padding-lr">
                    <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom"><i class="fa fa-motorcycle" aria-hidden="true"></i></div>
                    <div class="row">
                        <span class="col-md-12 col-sm-12 spec-details spec-key">Overall Size</span>
                        <span class="col-md-12 col-sm-12 spec-details">2100x750x1140mm (LxWxH)</span>
                    </div>
                    <div class="row">
                        <span class="col-md-12 col-sm-12 spec-details spec-key">Front Absorber</span>
                        <span class="col-md-12 col-sm-12 spec-details">33mm dia Hydralic Shock Absorber with outer Coil Spring</span>
                    </div>
                    <div class="row">
                        <span class="col-md-12 col-sm-12 spec-details spec-key">Rear Suspension</span>
                        <span class="col-md-12 col-sm-12 spec-details">Rear single horizontal hydralic spring tamping</span>
                    </div>
                </div>
            </div>
            <!-- end services item -->

            <!-- start services item -->
            <!-- <div class="col-lg-4 col-md-6">
                <div class="text-center padding-40px-tb xs-padding-20px-top padding-20px-lr xs-no-padding-lr xs-no-padding-bottom">
                    <div class="display-inline-block margin-20px-bottom xs-margin-15px-bottom"><i class="icon icon-genius text-extra-dark-gray font-size36"></i></div>
                    <div class="alt-font text-extra-dark-gray margin-10px-bottom font-size18 xs-font-size16">Content Writing</div>
                    <p class="width-85 md-width-90 xs-width-100 center-col no-margin-bottom">This creative template design provide ideal and variety of design services and solutions for website.</p>
                </div>
            </div> -->
            <!-- end services item -->
        </div>
    </div>
</section>