.banner-img{
    margin-top: 60px;
    background: url(/assets/images/artboard.png) center center no-repeat;
    height: 440px;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-header-container{
    display: table;
}

.form-header{
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}