<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#home"><img src="assets/images/techCircle.jpg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTarget">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTarget">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLinkActive="active" routerLink="engineering-services">ENGINEERING SERVICE</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLinkActive="active" href="home#About">About us</a>
            </li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link" routerLinkActive="active" href="home#Contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>