<div data-spy="scroll" data-target="#navbarTarget">
    <!-- <div id='home'>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#home"><img src="assets/images/techCircle.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTarget">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTarget">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="products">Products</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" href="#About">About us</a>
                    </li>
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div> -->
    <div id='products' class="offset container product-container">
                <!-- <div class="col-12">
                    <h3 class="heading text-center">Products</h3>
                    <div class="heading-underline"></div>
                </div> -->
                <div class="row">
                    <div class="col-md-8 col-sm-12 clients" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-12">
                                <a routerLink="/force">
                                    <img src="assets/images/force.png"  class="productImg">
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="bg-light-gray col-md-4 text-center" style="padding-bottom: 10%;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 order-2 order-md-1 xs-padding-50px-tb">
                                    <!-- Start Left Content -->
                                    <div class="padding-twenty-top sm-padding-fifteen-top xs-no-padding">
                                        <h5 class="no-margin font-size18 xs-font-size16 text-medium-gray padding-twelve-top sm-padding-five-top xs-no-padding">Hello, I am</h5>
                                        <h1 class="text-uppercase font-size48 md-font-size42 sm-font-size36 xs-font-size26 font-weight-700 margin-20px-bottom">Force</h1>
                                        <!-- <p class="width-50 md-width-75 xs-width-100 font-size16 xs-font-size14 border-top border-bottom padding-10px-tb">UX Designer / Frontend Developer</p> -->
                                        <!-- <div class="social-links margin-30px-bottom xs-margin-20px-bottom">
                                            <a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                                            <a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                                            <a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a>
                                            <a href="javascript:void(0);"><i class="fab fa-dribbble"></i></a>
                                            <a href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                                            <a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                                        </div> -->
                                        <a class="btn white" routerLink="/force">View Specifications <i class="fas fa-arrow-right font-size15 margin-5px-left"></i></a>
                                    </div>
                                    <!-- End Left Content -->
                                </div>
                                <div class="col-md-5 col-sm-12 order-1 order-md-2 text-right xs-text-center xs-border-bottom xs-padding-nineteen-half-lr border-color-medium-gray">
                                    <!-- Start Right Image -->
                                    <img src="img/portfolio-pic-01.png" alt="">
                                    <!-- End Right Image -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-4 col-sm-12 clients" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-2"> </div>
                            <div class="col-md-8" style="padding: 15% 0%;">
                                <blockquote>
                                    <a href="#">
                                        <img src="assets/images/cb1000r.png" class="logoImg">
                                        <span class="caption logoImg" style="font-size: 45px">force</span>
                                    </a>
                                    <div class="heading-underline" style="margin-top: 5%"></div>
                                    <a class="btn btn-secondary btn-md" style="margin: 0 !important;" href="#">view details</a>
                                </blockquote>
                            </div>
                        </div>
                    </div> -->
                </div>
                
                <div class="row" style="margin-top: 5%;">
                    <div class="col-md-8 col-sm-12 clients" style="text-align: center;">
                        <div class="row">
                            <!-- <div class="col-md-2"> </div> -->
                            <div class="col-md-12">
                                <a routerLink='/c1'>
                                    <img src="assets/images/c1.png" class="productImg">
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="bg-light-gray col-md-4 text-center" style="padding-bottom: 10%;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 order-2 order-md-1 xs-padding-50px-tb">
                                    <!-- Start Left Content -->
                                    <div class="padding-twenty-top sm-padding-fifteen-top xs-no-padding">
                                        <h5 class="no-margin font-size18 xs-font-size16 text-medium-gray padding-twelve-top sm-padding-five-top xs-no-padding">And, I am</h5>
                                        <h1 class="text-uppercase font-size48 md-font-size42 sm-font-size36 xs-font-size26 font-weight-700 margin-20px-bottom">C1</h1>
                                        <a class="btn white" routerLink="/c1">View Specifications <i class="fas fa-arrow-right font-size15 margin-5px-left"></i></a>
                                    </div>
                                    <!-- End Left Content -->
                                </div>
                                <div class="col-md-5 col-sm-12 order-1 order-md-2 text-right xs-text-center xs-border-bottom xs-padding-nineteen-half-lr border-color-medium-gray">
                                    <!-- Start Right Image -->
                                    <img src="img/portfolio-pic-01.png" alt="">
                                    <!-- End Right Image -->
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col-md-4 sol-sm-12 clients" style="text-align: center;">
                        <div class="row">
                            <div class="col-md-2"> </div>
                            <div class="col-md-8" style="padding: 15% 0%;">
                                <blockquote>
                                    <a href="#">
                                        <img src="assets/images/cbr650r.png" class="logoImg">
                                        <span class="caption logoImg" style="font-size: 45px">c1</span>
                                    </a>
                                    <div class="heading-underline" style="margin-top: 5%"></div>
                                    <a class="btn btn-secondary btn-md" style="margin: 0 !important;" href="#">view details</a>
                                </blockquote>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
</div>