/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@font-face {
  font-family: "Px Grotesk Regular";
  src: local("Px Grotesk Regular"), url(./assets/fonts/Px-Grotesk-Regular/Px-Grotesk-Regular.ttf) format("truetype");
}

.narrow{
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1{
    font-size: 2.4rem;
}

* {
    box-sizing: border-box;
  }
  
//   .header {
//     border: 1px solid red;
//     padding: 15px;
//   }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    // border: 1px solid red;
  }

  .form-group{
    padding: 15px;
  }

  hr{
      border: 1 !important;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}