<div data-spy="scroll" data-target="#navbarTarget">
    <div id='home'>
        <div class="top_banner"></div>
    </div>
    <div class="col-12">
        <div class="col-6">
            <img src="../../assets/images/comingsoon.jpg" style="width: 100%; height: 268px;">
        </div>
        <div class="col-6">
            <img src="../../assets/images/comingsoon.jpg" style="width: 100%; height: 268px;">
        </div>
    </div>
    <div class="col-12">
        <div class="col-6">
            <img src="../../assets/images/comingsoon.jpg" style="width: 100%; height: 268px;">
        </div>
        <div class="col-6">
            <img src="../../assets/images/comingsoon.jpg" style="width: 100%; height: 268px;">
        </div>
    </div>
    <div class="col-12" style="min-height: 200px;">
        <img src="../../assets/images/comingsoon.jpg" style="width: 100%; height: 268px;">
    </div>
</div>
    <!-- <div id='home'>
        <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" id="videoBG" autoplay muted="muted" loop>
              <source src="assets/images/landingVideo.mp4" type="video/mp4">
            </video>
            <div class="caption text-center">
                <h1>Entre Mobility</h1>
            </div>
        </header>
    </div> -->
    <!-- <div id='About' class="offset">
        <div class="col-12 text-center narrow">
            <h1>If Eco friendly, think EntreMobility</h1>
            <p class="lead">Entre Mobility Pvt Ltd. is an Indian manufacturer of electric Scooters & motorcycles.
                Entre makes a line of 100% high speed and low speed electric Scooters & motorcycles including the Force (Street Racing), Eva (Elite Scooter), and Layton (Crusier). </p>
            <a class="btn btn-outline-light btn-lg prod-button" href="#products">Products</a>
        </div>
    </div>
    <div id='mission' class="offset">
        <div class="jumbotron">
            <div class="narrow text-center">
                <div class="col-12">
                    <h3 class="heading">Our Vision</h3>
                    <div class="heading-underline"></div>
                    <p style="width: 90%; display: inline-flex;">
                        Our vision of Entre Mobility is to determine the future to create high-quality, low cost electric vehicles that accelerate the usage of renewable energy in day to day life through engineering and innovation to the world. 
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="heading">Our Mission</h3>
                    <div class="heading-underline"></div>
                    <p style="width: 100%;; display: inline-flex">
                        To pursuing the highest levels of product quality and indigenously designed to develop & deliver the most innovative products, manage customer experience, cover the market shares, deliver quality service excellence that contributes to brand strength, establishes a competitive advantage and enhances profitability, thus providing value to the stakeholder of the company.

                        To Become the India’s preferred electrical vehicle company applying insight, service quality, and innovation to create sustainable growth for business and Society.
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div id='resources' class="offset">
        <div class="col-12 text-center narrow">
            <h1>Build with care</h1>
            <p class="lead">Entre Mobility makes superior Electrical vehicles to provides the good riding Experience. 
                Our World is driven by Idea,People,Unity To deliver the product which is providing more benefits to the people & Environment.</p>
        </div>
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div> -->
    <!-- <div id='resources' class="offset">
        <div class="fixed-background">
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="heading">Build with care</h3>
                    <div class="heading-underline"></div>
                    <p style="width: 50%; display: inline-flex;">Entre Mobility makes superior Electrical vehicles to provides the good riding Experience. Our World is driven by Idea,People,Unity To deliver the product which is providing more benefits to the people & Environment.</p>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div> -->
    <!-- <div id='products' class="offset" style="padding-top: 5%;">
        <div> 
            <div class="col-12">
                <h3 class="heading text-center">Products</h3>
                <div class="heading-underline"></div>
            </div>
            
        </div>
    </div> -->