<div data-spy="scroll" data-target="#navbarTarget">
    <div id='home'>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand"><img src="assets/images/techCircle.jpg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTarget">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTarget">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#content">Content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <header>
            <div class="overlay"></div>
            <video playsinline="playsinline" id="videoBG" autoplay="autoplay" muted="true" loop="loop">
              <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
            </video>
            <div class="caption text-center">
                <h1>Entre Mobility Pvt Ltd</h1>
                <!-- <h3>Endgame</h3> -->
                <a class="btn btn-outline-light btn-lg" href="#content">About us</a>
            </div>
        </header>
    </div>
    <div id='content' class="offset">
        <div class="col-12 text-center narrow">
            <h1>Nuno theme responsive web design</h1>
            <p class="lead">Entre Mobility Pvt Ltd. is an Indian manufacturer of electric Scooters & motorcycles.
                Entre makes a line of 100% high speed and low speed electric Scooters & motorcycles including the Force (Street Racing), Eva (Elite Scooter), and Layton (Crusier). </p>
            <a class="btn btn-secondary btn-md" href="#"> Bootstrap Course</a>
        </div>
    </div>
    <div id='mission' class="offset">
        <div class="jumbotron">
            <div class="narrow text-center">
                <div class="col-12">
                    <h3 class="heading">Our Vision</h3>
                    <div class="heading-underline"></div>
                    <p style="width: 50%; display: inline-flex;">Entre Mobility makes superior Electrical vehicles to provides the good riding Experience. Our World is driven by Idea,People,Unity To deliver the product which is providing more benefits to the people & Environment.</p>
                </div>
                <div class="col-12">
                    <h3 class="heading">Our Mission</h3>
                    <div class="heading-underline"></div>
                    <p style="width: 50%;; display: inline-flex">Mission to turn heads and revolutionize their industry by combining the best aspects of a traditional motorcycle with today's most advanced technology. The result is an electric motorcycle line that's insanely fast, and environmentally friendly.</p>
                </div>
            </div>
        </div>
    </div>
    <div id='resources' class="offset">
        <div class="fixed-background">
            <div class="row dark text-center">
                <div class="col-12">
                    <h3 class="heading">Build with care</h3>
                    <div class="heading-underline"></div>
                    <p style="width: 50%; display: inline-flex;">Entre Mobility makes superior Electrical vehicles to provides the good riding Experience. Our World is driven by Idea,People,Unity To deliver the product which is providing more benefits to the people & Environment.</p>
                </div>
            </div>
        </div>
        <div class="fixed-wrap">
            <div class="fixed"></div>
        </div>
    </div>
    <div id='clients' class="offset">
        <div class="jumbotron">
            <div class="col-12">
                <h3 class="heading">Clients</h3>
                <div class="heading-underline"></div>
            </div>
            <div class="row">
                <div class="col-md-6 clients">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8">
                            <blockquote>
                                <i class="fas fa-quote-left"></i>
                                i see nuno theme everyhere
                                <hr class="clients-hr">
                                <cite>&#8212; Hi da</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 clients">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="">
                        </div>
                        <div class="col-md-8">
                            <blockquote>
                                <i class="fas fa-quote-left"></i>
                                i see nuno theme everyhere
                                <hr class="clients-hr">
                                <cite>&#8212; Hi da</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 narrow text-center">
            <p class="lead">want to learn more thn join with us</p>
            <a class="btn btn-secondary btn-md" href="#">Order now</a>
        </div>
    </div>
    <div id='Contact' class="offset">
        <footer>
            <div class="row justify-content-center">
                <div class="col-md-5 text-center">
                    <img src="assets/images/techCircle.jpg">
                    <p>At our core is quality and a collection of design with eco friendly environments</p>
                    <strong>Contact info</strong>
                    <p>(+91)7373376712<br>sales@entremobility.com</p>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                </div> 
                <hr class="socket">
                &copy; entre-mobility.com
            </div>
        </footer>
    </div>
</div>